/Adder/ProjectGutenburg-week-1/target/
/Adder/AllTheMaths-week1/target/
/Adder/Inabucket/target/
/Adder/TheOrderofThings/target/
/Adder/MenuOfChampions/target/
/Adder/Madlibs/target/
/Adder/FizzBuzz/target/
/Adder/LlamasWhales/target/
/Adder/GuessMe/target/
/Adder/PickyEater/target/
/Adder/LittleChaos/target/
/Adder/CoinFlipper/target/
/Adder/GuessMeMore/target/
/Adder/StayPositive/target/
/Adder/WhatYouShouldDo/target/
/Adder/ForTimes2/target/
/Adder/PerfectNumbers/target/
/Adder/LuckySevens/target/
/Adder/ARainbow/target/
/Adder/StillPositiveArrays/target/
/Adder/RockPaperScissors/target/
/Adder/DogGenetics/target/
/Adder/HealthyHearts/target/
/Adder/SummativeSums/target/